/*---------Basic Styles------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

html {
    font-size: 18px;
}

h1 {
    font-size: 200%;
    color: #434343;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

body {
    font-size: 80%;
    color: #434343;
}

.row {
    width: 100%;
}


/*------Outer Box Styles----------*/


.outer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border: 1px solid #434343;
    position: relative;
    background-color: #d6d6d6;
}

.inner {
    margin-top: 30px;
    padding: 10px 10px;
}

/*-----Title-Box Style-----*/

.box {
    position: absolute;
    width: 100px;
    height: 30px;
    top: 0;
    right: 0;
    border: 1px solid #434343;
    text-align: center;
    padding: 1%;
}

#box-1 {
    background-color: #e55757;
}

#box-2 {
    background-color: #72c463;
}

#box-3 {
    background-color: #6abed8;
}


/*---------------------------*/
/* Media Queies*/
/*--------------------------*/

/*---For screen sizes greater than or equal to 992px---*/

@media (min-width: 992px) {
    .col-1-of-12, .col-2-of-12, .col-3-of-12, .col-4-of-12, .col-5-of-12, .col-6-of-12, .col-7-of-12, .col-8-of-12, .col-9-of-12, .col-10-of-12, .col-11-of-12, .col-12-of-12 {
        float: left;
        
        }
    
    .col-4-of-12 {
        width: 33.32%;
    }
    
}


/*---For screen sizes greater than or equal to 768px and less than or equal to 991px---*/

@media (min-width: 768px) and (max-width: 991px) {
    .mid-1-of-12, .mid-2-of-12, .mid-3-of-12, .mid-4-of-12, .mid-5-of-12, .mid-6-of-12, .mid-7-of-12, .mid-8-of-12, .mid-9-of-12, .mid-10-of-12, .mid-11-of-12, .mid-12-of-12 {
        float: left;
        
        }
    .mid-6-of-12 {
        width: 50%;
    }
    
    .mid-12-of-12 {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        }
    
    .mid-12-of-12 .outer {
        width: 95%;
    }
    
}

/*---For screen sizes less than or equal to 767px---*/

@media (max-width: 767px) {
    
    .low-12-of-12 {
        width: 100%;
    }
    
    .low-12-of-12 .outer {
        margin-bottom: 20px;
    }
}


























