body {
    font-size: 16px;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

/**HEADER**/

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    padding-top: 15px;
}

.navbar-brand h1 {
    color: #557c3e;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.75;
}


#nav-list {
    margin-top: 10px;
}

#nav-list a {
    text-align: center;
    margin: 0;
}

#nav-list ul {
    margin: 0;
    padding: 0;
}

#nav-list li {
    border-bottom: 1px solid #000;
    
}

#nav-list li:last-child {
    border-bottom: none;
    
}

#nav-list a:hover {
    background-color: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -60px;
}

#main-text {
    font-size: 1.5em;
    margin: 0;
    padding: 15px 0 15px 0;
    color: #534e4d;
}

section {
    color: #383333;
}

#para {
    background-color: #8b7575;
}

#para p {
    margin-top: 25px;
}

#head {
    font-size: 1.2em;
    margin: 0;
}


/*****EXTRA SMALL DEVICE*****/

@media (max-width: 767px) {
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    
    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 5vw;
        }
    #collapsable-nav {
        background-color: #d37070;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 1px solid #000; 
    }
    
    #collapsable-nav a {
        font-size: 1.2em;
    }
    
    
}